[submodule "lotusboard"]
	path = lotusboard
	url = git@github.com:hexonal/lotusboard.git
	branch = ix-customizations
[submodule "SakuraNeko"]
	path = SakuraNeko
	url = git@github.com:hexonal/SakuraNeko.git
	branch = main
